<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Missions data</h1>
        <p>Launch Date: <%=missions.launchDate; %></p>   
        <p>Mission Operator: <%=missions.operator; %></p>
        <p>Mission Type: <%=missions.missionType; %></p>
    </body>
</html>