<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Missions index page</h1>
        <ul class='missions'>
            <% for(let i = 0; i < missions.length; i++) { %>
             <li><a href="/missions/<%=i%>"><%=fruits[i].name;%></a>
        <% } %>

        </ul>
    </body>
</html>